.App {
}

.App__result {
  padding-left: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App__result__letter {
  font-size: 100px;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
}
